<html>
<head>
  <title>Guber</title>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/stylesheets/style.css"/>

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="/javascripts/angularApp.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyBOiey27N1R06N4OklqBqeEh46ODe0Z2m0"></script>
</head>
<body ng-app="guber" ng-controller="MainCtrl" data-ng-init="initialize()">
  <nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
    <ul class="nav navbar-nav">
      <li ng-show="isLoggedIn()"><a>{{ currentUserName() }}</a></li>
      <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
    </ul>
  </nav>
  <div class="menu">Guber</div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
	  <ui-view></ui-view>
    </div>
  </div>

<script type="text/ng-template" id="/home.html">

  <div ng-hide="isLoggedIn()">
    <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a post.</h3>
    <p>What is Guber? Guber is the best. This is simply a test.</p>
  </div>

  <div ng-show="isLoggedIn()" style="padding:10px" ng-controller="DistCtrl" >
    <button type="submit" class="btn btn-primary" ng-click="getDrivers()">I need a ride!</button>


    <p>
      <label for="driver">Driver Address:</label>
      <input type="text"
        class="form-control"
        placeholder="1234 Street, City, State"
        name="driver"
        id="driver"/>

      <label for="rider">Rider Address:</label>
      <input type="text"
        class="form-control"
        placeholder="1234 Street, City, State"
        name="rider"
        id="rider" />
    </p>

    <form>
      <button class="btn btn-primary" ng-click="giveRide( getDriver(), getRider() )">Is rider close enough for a ride?</button>
      <input type="text" name ="rideResult" id="rideResult" readonly="true" />
    </form>

    <p>
      <input type="text"
        class="form-control"
        placeholder="Mobile Phone Number"
        name="mpn"
        id="mpn" />
      <button type="submit" class="btn btn-primary" ng-click="getText()">Text Me!</button>
    </p>
    <!--<h1>Users in database:</h1>
    <div ng-repeat="user in users | orderBy:'-username'">
      {{ user.username}} : {{user.email}} : {{user.homeAddress}} : {{user.phoneNumber}}
    </div>-->
  </div>

</script>

<script type="text/ng-template" id="/register.html">
  <div class="page-header">
    <h1>Guber</h1>
  </div>

  <div ng-show="error" class="alert alert-danger row">
    <span>Error:</span>
    <span>{{ error.message }}</span>
  </div>

  <form ng-submit="register()"
    style="margin-top:30px;">
    <h3>Register</h3>

    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Username"
      ng-model="user.username"></input>
    </div>
    <div class="form-group">
      <input type="password"
      class="form-control"
      placeholder="Password"
      ng-model="user.password"></input>
    </div>
	<div class="form-group">
      <input type="homeAddress"
      class="form-control"
      placeholder="Home Address"
      ng-model="user.homeAddress"></input>
    </div>
	<div class="form-group">
      <input type="phoneNumber"
      class="form-control"
      placeholder="Phone Number"
      ng-model="user.phoneNumber"></input>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
</script>

<script type="text/ng-template" id="/login.html">
  <div class="page-header">
    <h1>Guber</h1>
  </div>

  <div ng-show="error" class="alert alert-danger row">
    <span>Error:</span>
    <span>{{ error.message }}</span>
  </div>

  <form ng-submit="logIn()"
    style="margin-top:30px;">
    <h3>Log In</h3>

    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Username"
      ng-model="user.username"></input>
    </div>
    <div class="form-group">
      <input type="password"
      class="form-control"
      placeholder="Password"
      ng-model="user.password"></input>
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
  </form>
</script>
</body>
</html>
