<html>
<head>
  <title>Guber</title>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/stylesheets/style.css"/>

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="/javascripts/angularApp.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyBOiey27N1R06N4OklqBqeEh46ODe0Z2m0"></script>
</head>
<body ng-app="guber" ng-controller="MainCtrl" data-ng-init="initialize()">
  <nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
    <ul class="nav navbar-nav">
      <li ng-show="isLoggedIn()"><a>{{ currentUserName() }}</a></li>
      <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
    </ul>
  </nav>
  <div class="menu">Guber</div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
	  <ui-view></ui-view>
    </div>
  </div>

<script type="text/ng-template" id="/home.html">

  <div ng-hide="isLoggedIn()">
    <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a post.</h3>
    <p>
    	<center>
    	 <img src="https://raw.githubusercontent.com/soft-eng-practicum/Guber/master/GuberApp/public/images/guberlogo.jpg?token=AP6zgJA_HjwGN4wJG0wgXL1Yhllyq5djks5XDtkswA%3D%3D" alt="Guber Logo">
    	</center>
      	<h3>
        	<b>
          	<center>
          	What is Guber?
          	</center>
        	</b>
      	</h3>
    	<center>
      	<b>
      	Guber is a website that is focused on building a community for carpooling to Georgia Gwinnett College.
      	</b>
        <div><i>We can&#39t solve your homework problems, but we can solve your ride problems.</i></div>
    	</center>
  	</p>
  </div>

  <div ng-show="isLoggedIn()" style="padding:10px" ng-controller="DistCtrl" >
    <center><button type="submit" class="btn btn-primary" ng-click="getDrivers()">I need a ride!</button></center>
    <div id="drivers"></div>

  </div>

</script>

<script type="text/ng-template" id="/register.html">
  <div class="page-header">
    <h1>Guber</h1>
  </div>

  <div ng-show="error" class="alert alert-danger row">
    <span>Error:</span>
    <span>{{ error.message }}</span>
  </div>

  <form ng-submit="register()"
    style="margin-top:30px;">
    <h3>Register</h3>

    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Username"
      ng-model="user.username"></input>
    </div>
    <div class="form-group">
      <input type="password"
      class="form-control"
      placeholder="Password"
      ng-model="user.password"></input>
    </div>
	<div class="form-group">
      <input type="homeAddress"
      class="form-control"
      placeholder="Home Address"
      ng-model="user.homeAddress"></input>
    </div>
	<div class="form-group">
      <input type="phoneNumber"
      class="form-control"
      placeholder="Phone Number"
      ng-model="user.phoneNumber"></input>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
  <div> By registering, you agree to the
    <a ng-click="terms()">terms and conditions</a>
     of this site.
   </div>
</script>

<script type="text/ng-template" id="/login.html">
  <div class="page-header">
    <h1>Guber</h1>
  </div>

  <div ng-show="error" class="alert alert-danger row">
    <span>Error:</span>
    <span>{{ error.message }}</span>
  </div>

  <form ng-submit="logIn()"
    style="margin-top:30px;">
    <h3>Log In</h3>

    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Username"
      ng-model="user.username"></input>
    </div>
    <div class="form-group">
      <input type="password"
      class="form-control"
      placeholder="Password"
      ng-model="user.password"></input>
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
  </form>
</script>
</body>
</html>
